<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :name,  class: "col-sm-1 col-form-label col-form-label-lg" %>
    <div class="col-sm-8">
      <%= form.text_field :name, id: :team_name, class: "form-control form-control-lg" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg button button-outline-blue" %>
    <%= link_to 'Cancel', @back_url, class: "btn btn-secondary btn-lg button button-outline-gray" %>
  </div>
<% end %>
