<%# <% content_for :head do %>
<%#   <%= javascript_include_tag "teams.js" %>
<%# <% end %>
<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.owner.name %></td>
        <td><%= link_to 'Show', team, class: "btn btn-primary button" + (team.members(true).include?(current_user) ? " button-outline-green" : " button-gray disabled") %></td>
        <td><%= link_to 'Apply join', apply_join_team_path(team_id: team.id), method: :put, class: "join btn btn-primary button" + (team.users.where(id: current_user.id).any? ? " button-gray disabled" : " button-green") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Team', new_team_path, class: "btn btn-primary btn-lg btn-block button button-blue" %>

<script language="javascript">
  listenToJoinBtns()
</script>
