<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ffield">
    <%= form.label :name, class: 'flabel' %>
    <%= form.text_field :name, id: :user_name, class: 'fcontrol' %>
  </div>

  <div class="ffield">
    <%= form.label :avatar, class: 'flabel' %>
    <%= form.text_field :avatar, id: :user_avatar, class: 'fcontrol' %>
  </div>

  <div class="actions">
    <%= form.submit id: "submit" %>
    <%= link_to 'Cancel', current_user, id: "cancel" %>
  </div>
<% end %>
