<% if_owner = current_user == @project.owner %>
<% members = @project.team.members(true) %>
<% people = @project.people %>

<p id="notice"><%= notice %></p>

<h1 align="center"><%= @project.name %></h1>

<p align="center">team: <%= @project.team.name %>, owner: <%= @project.owner.name %>, created at: <%= @project.created_at %></p>

<div class="container">
  <div class="row">
    <h3>People</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Join time</th>
            <% if if_owner %>
              <th colspan="1"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if if_owner %>
            <% people.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.join_time %></td>
                <td><%= link_to 'Remove', remove_access_path(id: @project.id, user_id: user.id), method: :delete, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          <% else %>
            <% people.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.join_time %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
  <% if if_owner %>
    <div class="row">
      <%= render partial: 'share/user_picker', locals: {field_name: :user_id, users: (members - people), path: admit_user_path(id: @project.id), control_style_class: "form-control form-control-lg", btn_text: 'Add user'} %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <h3>Todos</h3>
    <table>
      <thead>
        <tr>
          <th>Deadline</th>
          <th>Status</th>
          <th>Creator</th>
          <th>Executor</th>
          <th>Content</th>
          <th>Created at</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <% @project.todos.each do |todo| %>
          <tr>
            <td><%= todo.deadline %></td>
            <td><%= todo.status %></td>
            <td><%= todo.creator.name %></td>
            <td><%= todo.executor ? todo.executor.name : "" %></td>
            <td><%= todo.content %></td>
            <td><%= todo.created_at %></td>
            <% if current_user == todo.creator || if_owner %>
              <td><%= render partial: 'share/user_picker', locals: { field_name: :executor_id, users: people, path: assign_executor_path(id: todo.id), control_style_class: "form-control", btn_text: 'Assign executor' } %><td>
            <% end %>
            <% if current_user == todo.creator || current_user == todo.executor || if_owner %>
              <td><%= link_to 'Finish', finish_todo_path(id: todo.id), method: :put, class: "btn btn-primary" %></td>
            <% end %>
            <td><%= link_to 'Show', todo, class: "btn btn-success" %></td>
            <% if current_user == todo.creator || if_owner %>
              <td><%= link_to 'Delete', todo, method: :delete, class: "btn btn-danger" %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Create todo', new_todo_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-block button button-blue" %>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row">
    <%= link_to 'Go back', @project.team, class: "btn btn-secondary btn-lg button button-outline-gray" %>
    <% if if_owner %>
      <%= link_to 'Edit it', edit_project_path(@project), class: "btn btn-primary btn-lg button button-outline-blue" %>
      <%= link_to 'Delete', @project, method: :delete, class: "btn btn-danger btn-lg button button-outline-red" %>
    <% end %>
  </div>
</div>
