<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <div class="col-sm-8">
      <%= form.text_field :content, id: :todo_content, class: "form-control form-control-lg" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <div class="col-sm-8">
      <%= form.date_select :deadline, id: :todo_deadline, class: "form-control form-control-lg" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :project %>
    <div class="col-sm-8">
      <%= form.text_field :project_name, id: :todo_project_name, value: @project.name, class: "form-control form-control-lg", readonly: true  %>
    </div>
  </div>

  <div class="field">
    <%= form.label :executor_id %>
    <div class="col-sm-8">
      <%= form.select :executor_id, @project.users.collect { |u| [ u.name, u.id ] }, {blank: 'Pick a member'}, {id: :todo_executor_id, class: "form-control form-control-lg"} %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :project_id, id: :todo_project_id, value: @project.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :creator_id, id: :todo_creator_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit id: "submit" %>
    <%= link_to 'Cancel', @back_url, id: "cancel" %>
  </div>
<% end %>
