<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :todo_content %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline, id: :todo_deadline %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :todo_status %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :todo_project_id %>
  </div>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.number_field :creator_id, id: :todo_creator_id %>
  </div>

  <div class="field">
    <%= form.label :executor_id %>
    <%= form.number_field :executor_id, id: :todo_executor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
